.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: bold;
}

blockquote {
  color:    #a6a6a6;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  object-fit: scale-down;
}
