.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: normal;
}

.navbar{
    opacity: 0.8;
}

.nav-link{
  &.hover{
    font-weight: bold !important;
    color: $sta-menu-text-active !important;
  }
}

blockquote {
  color:    #a6a6a6;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  object-fit: scale-down;
}
